@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    background: #F1F1F1;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info-text {
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 20px;
}

.info-text p{
    color: mediumslateblue;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info-text a {
   color: gray;
   text-decoration: none;
}

.info-text a:active {
    color: red;
 }

 .info-text a:hover {
    color: green;
 }

 /* .info-text a:visited{
    color: rgb(0, 0, 0);
 } */

 @media (max-width:650px){
    .info {
        display: block;
        text-align: center;
    }
 }

.card {
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: beige;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.btn {
    background: #000000;
    color: #F1F1F1;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
}

.btn:hover {
    background: #dc6363;
    color: #F1F1F1;
}

.list {
    padding: 0 20px;
}

.list li {
    color: aqua;
    margin-bottom: 10px;
}

.table {
    width: 100%;

}

.table td {
    padding-bottom: 10px ;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.form h1{
    text-align: center;
}



.form-row {
    margin-bottom: 10px;
    display: flex;
}


.form-row .form-group{
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label{
    display: block;
    font-size: 14px;
    color:#86898f
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc ;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
    